@import "../../_variables.scss";

.items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  // @include media(sm) {
  //   flex-direction: column;
  // }

  .item {
    input {
      &::-webkit-datetime-edit-ampm-field,
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        display: none;
      }
      padding: 0.2rem 0.3rem;
      color: #fff;
      border: 0;
      border-radius: 7px;
      width: 3.3rem;
      text-align: center;
      font-size: medium;
      text-align: center;
    }
    span {
      text-align: center;
    }
    padding: 0.5rem 0.8rem;
    margin: 0.2rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2.5rem;
    width: max-content;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: blue;
    color: white;
    border-radius: 5px;
  }
}
