<div class="items">
  <div class="item" [style.background-color]="'#0884c2'" *ngIf="selectedDay">
    <span
      >Перша пара починається в <strong>{{ startEndTime[0] }}</strong></span
    >
  </div>
  <div class="item" [style.background-color]="'#aad'" *ngIf="selectedDay">
    <span
      >Пари закінчуються в <strong>{{ startEndTime[1] }}</strong></span
    >
  </div>
  <div
    class="item"
    [style.background-color]="'hsl(135, 63%, 33%)'"
    *ngIf="selectedDay"
  >
    <span
      >Якщо їхати
      <input
        [style.background-color]="'hsl(135, 63%, 24%)'"
        type="text"
        mask="h:m0"
        [(ngModel)]="time"
        (ngModelChange)="timeChanged($event)"
        [dropSpecialCharacters]="false"
      /><span *ngIf="timeValid"
        >, то виходити з дому в <strong>{{ timeForTravel }}</strong></span
      ></span
    >
  </div>
  <div class="item" [style.background-color]="'#ec324e'">
    <span style="padding-right: 0.7rem;"
      >Зараз {{ !weekCheckbox ? "чисельник" : "знаменник" }}</span
    >
    <input
      [(ngModel)]="weekCheckbox"
      (ngModelChange)="weekChanged($event)"
      type="checkbox"
      id="switch"
    /><label for="switch">Toggle</label>
  </div>
</div>
