/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.app-root {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Noto Sans", sans-serif;
}

html {
  min-height: 100vh;
  // background: radial-gradient(
  //   ellipse at top left,
  //   rgba(229, 229, 229, 0.9) 40%,
  //   rgba(200, 200, 200, 0.9) 100%
  // );
  background: #fff;
}
