<app-header></app-header>
<div class="cardz">
  <div class="card-wrp" *ngFor="let day of lessons.keys()">
    <div class="card">
      <div class="header">
        {{ day | toDay }}
      </div>
      <div class="items">
        <div class="item">
          <div class="num">
            1
          </div>
          <div class="content">
            <div class="title">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="info">
              корп. 1, каб. 47
            </div>
          </div>
        </div>
        <div class="item">
          <div class="num">
            1
          </div>
          <div class="content">
            <div class="title">
              Lorem ipsum.
            </div>
            <div class="info">
              корп. 1, каб. 47
            </div>
          </div>
        </div>
        <div class="item">
          <div class="num">
            1
          </div>
          <div class="content">
            <div class="title">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus
              iste expedita obcaecati! Quam quis illo saepe adipisci, eveniet
              repellat autem libero? Suscipit ex consequuntur sapiente illum
              ipsa quasi amet accusamus.
            </div>
            <div class="info">
              корп. 1, каб. 47
            </div>
          </div>
        </div>
        <div class="item">
          <div class="num">
            1
          </div>
          <div class="content">
            <div class="title">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="info">
              корп. 1, каб. 47
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="times">
  <div class="card-wrp">
    <div class="card">
      <div class="header">
        Расписание звонков
      </div>
      <div class="items">
        <div class="item">
          <div class="num">
            1
          </div>
          <div class="content">
            <div class="title">
              8:30 - 9:50
            </div>
          </div>
        </div>
        <div class="item">
          <div class="num">
            2
          </div>
          <div class="content">
            <div class="title">
              10:05 - 11:25
            </div>
          </div>
        </div>
        <div class="item">
          <div class="num">
            3
          </div>
          <div class="content">
            <div class="title">
              11:40 - 13:00
            </div>
          </div>
        </div>
        <div class="item">
          <div class="num">
            4
          </div>
          <div class="content">
            <div class="title">
              13:15 - 14:35
            </div>
          </div>
        </div>
        <div class="item">
          <div class="num">
            5
          </div>
          <div class="content">
            <div class="title">
              14:50 - 16:10
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
