<app-header [selectedDay]="getSelectedDay"></app-header>
<div class="cardz">
  <div class="card-wrp" *ngFor="let day of getLessonDays()">
    <div
      class="card"
      (click)="selectDay(day)"
      [style.background-color]="
        selectedDay === day
          ? '#e7e9ff'
          : day === currentDate.getDay()
          ? '#fff1fe'
          : ''
      "
    >
      <div class="header">
        {{ day | toDay | uppercase }}
      </div>
      <div class="items">
        <div class="item" *ngFor="let lesson of lessons.get(day)">
          <div *ngIf="getLessonDataBySelectedWeek(lesson).title != ''">
            <div class="num" *ngIf="lesson.num != 0">
              {{ lesson.num }}
            </div>
            <div class="content">
              <div
                class="title"
                [innerHTML]="getLessonDataBySelectedWeek(lesson).title"
              ></div>
              <div
                class="info"
                [innerHTML]="getLessonDataBySelectedWeek(lesson).info"
              ></div>
              <div class="info time">{{ getBells()[lesson.num - 1] }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="times">
  <div class="card-wrp">
    <div class="card">
      <div class="header">
        Розклад дзвінків
      </div>
      <div class="items">
        <div class="item" *ngFor="let info of getBells(); let i = index">
          <div class="num">
            {{ i + 1 }}
          </div>
          <div class="content">
            <div class="title">
              {{ info }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
